# git ls-files --others --exclude-from=.git/info/exclude

/git

Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Public
.Trash

.cache/

*.local

# wontfix: https://github.com/apple/cups/issues/4243
.cups
.netrc
.ssh

.gist
.gist.*
.oracle_jre_usage/
.zinc/

# AWS CLI SUCKS:
/.aws/cli/cache
/.aws/sso/cache
