[core]
  excludesfile = ~/.gitignore
  editor = notepad++ -multiInst -nosession -noPlugin
  autocrlf = true
  safecrlf = warn
  hideDotFiles = dotGitOnly
[user]
  name = Jason Karns
  email = jason@karns.name
[github]
  user = jasonkarns
#  token = {add github token here}
[http]
#  proxy = http://<user>:<pass>@<host>:<port>
[https]
#  proxy = http://<user>:<pass>@<host>:<port>
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  cam = commit --amend -C HEAD
  hist = log --graph --date=short    --pretty=format:\"%h %ad | %s%d [%an]\"
  glog = log --graph --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(green)%cr by %C(bold blue)%an%Creset'
  pom = push origin master
  diffstat = diff --stat
[branch "master"]
  remote = origin
  merge = refs/heads/master
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  showbranch = auto
[color "branch"]
  current = reverse yellow
  local = yellow
  remote = green
#  plain =
[color "diff"]
  meta = bold yellow
  frag = bold magenta
  old = bold red
  new = bold green
  plain = normal
#  func = 
#  commit = 
  whitespace = reverse normal
[color "status"]
  header = normal
  added = yellow
  changed = green
  untracked = cyan
  nobranch = red
[diff]
  tool = bc3
[difftool]
  prompt = false
[merge]
  tool = bc3
  defaultToUpstream = true
[push]
  default = tracking

[difftool "bc3"]
  cmd = 'c:/program files/beyond compare 3/bcomp.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "bc3"]
  cmd = 'c:/program files/beyond compare 3/bcomp.exe' \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
  trustExitCode = true
[difftool "winmerge"]
  cmd = 'c:/program files/winmerge/winmergeu.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "winmerge"]
  cmd = 'c:/program files/winmerge/winmergeu.exe' \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = false

