# git ls-files --others --exclude-from=.git/info/exclude

/git

Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Public
.Trash

.cache/

*.local
.config/Alfred.alfredpreferences/preferences/local/

# wontfix: https://github.com/apple/cups/issues/4243
.cups
.netrc
.ssh

.gist
.gist.*
.oracle_jre_usage/
# https://github.com/apple/swift-package-manager/issues/6204
.swiftpm/
.zinc/

# AWS CLI SUCKS:
/.aws/cli/cache
/.aws/sso/cache
