[user]
  name = Mike Busch
  email = busch.michael@gmail.com
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  excludesfile = /Users/mike/.gitignore
  editor = mate -w
  autocrlf = input
[push]
  default = matching
