[core]
  excludesfile = ~/.gitignore
  editor = vim
  autocrlf = true
  safecrlf = warn
  hideDotFiles = dotGitOnly
[user]
  name = Jason Karns
  email = jason@karns.name
[github]
  user = jasonkarns
#  token = {add github token here}
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  cam = commit --amend -C HEAD
  hist = log --graph --date=short --pretty=format:\"%C(yellow)%h%Creset %C(green)%ad%Creset %C(red)|%Creset %s%d %C(bold blue)%an%Creset\"
  glog = log --graph --date=relative
  pom = push origin master
  diffstat = diff --stat
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(green)(%ar) %C(bold blue)%an%Creset
[branch]
  autosetuprebase = always
#[branch "master"]
#  remote = origin
#  merge = refs/heads/master
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  showbranch = auto
[color "branch"]
  current = reverse yellow
  local = yellow
  remote = green
#  plain =
[color "diff"]
  meta = bold yellow
  frag = bold magenta
  old = bold red
  new = bold green
  plain = normal
#  func = 
#  commit = 
  whitespace = reverse normal
[color "status"]
  header = normal
  added = yellow
  changed = green
  untracked = cyan
  nobranch = red
[diff]
  tool = bc3
[difftool]
  prompt = false
[merge]
  tool = bc3
  defaultToUpstream = true
[push]
  default = tracking

[difftool "bc3"]
  cmd = 'c:/program files/beyond compare 3/bcomp.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "bc3"]
  cmd = 'c:/program files/beyond compare 3/bcomp.exe' \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
  trustExitCode = true
[difftool "winmerge"]
  cmd = 'c:/program files/winmerge/winmergeu.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "winmerge"]
  cmd = 'c:/program files/winmerge/winmergeu.exe' \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = false

