'exception-reporting':
  'userId': '9161d97c-8212-bc16-6200-e0e8d9650ad9'
'release-notes':
  'viewedVersion': '0.61.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '956e34d393f8cf707f801f4a607a00873a067334'
'editor':
  'fontSize': 16
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
